.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 7rem;
    text-align: center;
    padding: 2rem;
}

.headline {
    max-width: 70rem;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    text-align: center;
}

.intro_paragraph{
    margin: 0 auto;
    max-width: 80rem;
    margin-bottom: 2.5rem;
}

.second_container{
    padding-bottom: 2rem;
    margin-bottom: 8rem;
}
