.beneficiary_section {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.main_container {
    max-width: 1200px;
    margin: 0 auto;
    margin-block: 5rem;
    text-align: center;
    padding: 2rem;
    display: grid;
    place-content: center;
    grid-template-columns: 3fr 2fr;
    gap: 10rem;
}

.pretext{
    max-width: 42rem;
    text-align: center;
    color: var(--paragraph_text);
}

.form_container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.switch_btn {
    font-size: 1.8rem;
}

.switch_btn:hover {
    color: white;
    border-bottom: 2px solid var(--cta_blue);
}

@media(max-width: 990px) {
    .main_container{
        grid-template-columns: 2fr 2fr;
        gap: 4rem;
    }
}

@media(max-width: 765px) {
    .main_container{
        grid-template-columns: 5fr;
    }

    .form_container{
        order: -1;
    }
}
