.btn {
    display: inline-block;
    font-size: 1.7rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--off_white);
    background: var(--accent_two);
    border: 1px solid var(--accent_two);
    cursor: pointer;
}

@media(max-width: 765px) {
    .btn {
        font-size: 1.4rem;
    }
}